a {
  font-size: 1.3em;
}

nav ul {
  margin-top: 20px;
}

nav ul a {
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: block;
}

/*nav-bar*/
.menu-button {
  float: right;
}

.logo {
  font-weight: 600;
  margin-left: 10px;
  color: var(--c-contrast);
}

/*colapse menu*/
.toggle-menu {
  display: none;
}


@media screen and (min-width: 900px) {

  .menu-app {
    align-items: center;
    justify-content: space-between;
  }

  .menu-app, .toggle-menu ul, .nav-bar ul {
    display: flex;
  }

  .toggle-menu ul, .nav-bar ul {
    position: absolute;
    right: 0;
    top: -8px;
  }

  .menu-button {
    display: none;
  }

  .toggle-menu, .nav-bar {
    display: block;
  }

}
