.card {
  position: relative;
}

.card h2 {
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
}

.card .about-me h2 {
  margin-top: 30px;
  background-color: var(--c-contrast);
}

.card .about-me {
  text-align: center;
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  justify-content: space-around;
}

.card .about-me figure {
  max-width: 500px;
}


.card .about-me figure, .card .about-me figure img {
  border-radius: 50%;
  animation: BollUp 5s reverse infinite;
}

.card .about-me .skills ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.card .about-me .skills ul li {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--color-secundary);
}

.animation {
  position: absolute;
  top: 0;
  right: 30px;
  height: 50px;
  width: 50px;
  background-color: var(--c-contrast);
  border-radius: 50%;
  animation: BollUp 2s  infinite;
}

@keyframes BollUp {
  0% {
    
  }
  50% {
    transform: translateY(-10px);
  }
  100% {

  }
}

@media (max-width: 980px) {
  .card .about-me{
    
    flex-direction: column;
    align-items: center;
  }

  .card .about-me h2 {
    text-align: center;
  }
}