a {
  font-size: 1.3em;
}

nav a {
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  background-color: #fff;
  color: var(--color-secundary);
  transition: .5s;
}

.logo {
  font-weight: 600;
  margin-left: 10px;
  color: var(--c-contrast);
}