.project {
  background-color: var(--color-secundary);
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.project figure {
  padding: 20px;
}

.project figure img {
  width: 50%;
  margin-left: 5px;
}

.project .leg {
  padding: 5px;
  color: #ccc;
}

.project nav {
  float: right;
}

@media (max-width: 900px) {
  .box {
    flex-direction: column;
  }

  .project {
    width: 80%;
  }
}