.menu-app {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-primary);
  margin-bottom: 20px;
  
}

.container {
  height: 100%;
}

.w-100, label, [type=submit], textarea {
  width: 50%
}

[type=submit], label, textarea {
  margin-top: 20px;
}


label {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}

input {
  padding: 8px;
}


@media (max-width: 900px) {
  label, .w-100, [type=submit], textarea {
    width: 90%;
  }
  
  .menu-app {
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
  }
}



