@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@200;400;600 & display=swap');


:root {
  /*colors*/
  --color-primary: #51a3a3;
  --color-secundary: #7b4b94;
  --c-warning: #ffc800;
  --c-contrast: #ff4365;
  --c-contrast-two: #ffe6e8;
}

/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html, body, .container {
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, #0c0c0c, var(--color-secundary)) no-repeat;
  background-size: 100%;
}

body:has(input[type=checkbox]:checked) {
  background-image: linear-gradient(90deg, #FFF, var(--color-secundary));
  color: #000;
}

a.active {
  background-color: var(--color-secundary);
  color: #fff;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: #fff;
}

.flex {
  display: flex;
}